.SearchBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    color: rgb(81, 152, 57);
    /* background-color: rgb(251, 251, 240); */
}